<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Social Media</title>

    {{!-- Bootstrap CSS --}}
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    {{!-- Custom stylesheet --}}
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> _navbar}}

    <div class="container">
        {{{body}}}
    </div>

    {{!-- Font Awesome Javascript --}}
    <script src="/js/fontawesome-all.min.js"></script>

    {{!-- jQuery --}}
    <script src="/js/jquery.min.js"></script>

    {{!-- Boostrap Javascript --}}
    <script src="/js/bootstrap.min.js"></script>

    {{!-- Custom Javascript --}}
    <script src="/js/main.js"></script>
</body>
</html>