.card-body .stats {
    display: flex;
    flex-direction: row;
}

.card-body .stats .stat {
    flex: 1;
}

.card-body img {
    width: 50%;
}

.tweet-contents {
    display: flex;
    flex-direction: row;
}

.tweet-contents .text {
    flex: 1;
}

.tweet-control:hover {
    cursor: pointer;
    color: #007bff;
}

.tweet-actions {
    display: flex;
    flex-direction: row;
}

.tweet-actions .tweet-action {
    margin: 0 15px;
}

.tweet-actions .tweet-action .count {
    margin-left: 5px;
}

.favorite:hover, .retweet:hover {
    cursor: pointer;
}